:root {
  --shadow: 0px 0px 2px 0px rgba(204, 204, 204, 0.4);
  

  --color-primary: #501F6E;
  --color-secondary: #A38FFB;
  --color-tertiary: #ECC5FE;
  --color-transparent: rgba(255, 255, 255, 0.60);
  --bg-body: #FFFFFF;
  --color-text-light: #414141;
  --color-text-dark: #0D0D0D;
  --color-text: #1F1F1F;
  --color-white: #FFFFFF;
  --color-black: #181818;
  --color-Accent: #B5E0FF;
  --color-Accent2 : #E7FF97;
  --color-gray : #F6F7F9;

  --color-danger: #F04438;
  --color-light-shade: #CCCCCC;

  --panel-header-bg: var(--color-white);
  --panel-header-text: var(--color-text-dark);
  --panel-header-text-active: var(--color-primary);
  --panel-footer-bg: transparent;
  --panel-footer-text: var(--color-white);
  --header-login-btn-bg: transparent;
  --header-login-btn-color: var(--color-text-dark);

  --header-signup-btn-bg: var(--color-primary);
  --header-signup-btn-color: var(--color-white);

  --mobile-menu-btn-bg: var(--color-primary);
  --mobile-menu-btn-color: var(--color-white);

  --color-lang-switcher: var(--color-text-dark);

  --mobile-menu-bg-container: var(--color-transparent);
  --mobile-menu-text: var(--color-text-dark);
  --mobile-menu-bg-button: var(--color-primary);
  --mobile-menu-color-button: var(--color-white);
  --mobile-menu-bg-signup-button: var(--color-primary);
  --mobile-menu-color-signup-button: var(--color-white);

  --hero-bg-container: var(--color-white);
  --hero-bg: transparent;
  --hero-title: var(--color-text-dark);
  --hero-text: var(--color-text-dark);
  --hero-highlight: var(--color-text-dark);

  --color-section-title: var(--color-dark);
  --color-section-subtitle: var(--color-primary);

  --feature-bg-container: var(--color-white);
  --feature-bg: var(--color-white);
  --feature-text: var(--color-text-dark);

  --course-bg-container: var(--bg-body);
  --course-bg: var(--color-text-light);
  --course-title: var(--color-primary);
  --course-text: var(--color-primary);

  --about-listing-bg-container: var(--color-text-light);
  --about-listing-title: var(--color-primary);
  --about-listing-text: var(--color-primary);

  --text-bg-container: var(--bg-body);
  --text-bg: var(--bg-body);
  --text-text: var(--color-text-dark);

  --about-company-wrapper-bg: var(--color-white);

  --pricing-bg-container: var(--bg-body);
  --pricing-bg: transparent;
  --pricing-text: var(--color-text-light);
  --pricing-benefits-text: var(--color-text-dark);
  --pricing-btn-bg: var(--color-primary);
  --pricing-btn-color: var(--color-white);
  --pricing-item-bg: var(--color-white);

  // Contact us page
  --contact-bg-container: var(--color-white);
  --contact-form-bg: var(--color-primary);
  --contact-form-text: var(--color-text-dark);
  --contact-info-bg: var(--color-primary);
  --contact-info-text: var(--color-text-light);
  --contact-btn-bg: var(--color-primary);
  --contact-btn-color: var(--color-white);

  --no-hero-bg-container: var(--bg-body);
  --no-hero-bg: var(--color-primary);
  --no-hero-text: var(--color-text-light);

  --login-bg-container: var(--color-white);
  --login-bg: var(--bg-body);
  --login-text: var(--color-text-dark);

  --profile-bg-container: var(--color-tertiary);
  --profile-bg: var(--color-tertiary);
  --profile-text: var(--color-white);

  --order-bg-container: var(--bg-body);
  --order-bg: var(--color-white);
  --order-text: var(--color-text-dark);

  --unsubscribe-bg-container: var(--bg-body);
  --unsubscribe-bg: var(--color-secondary);
  --unsubscribe-text: var(--color-primary);

  --unsubscribe-btn-bg: var(--color-primary);
  --unsubscribe-btn-color: var(--color-white);

  --policy-bg-container: var(--bg-body);

  --bg-button: var(--color-primary);
  --color-button: var(--color-white);
  --bg-alternate-button: var(--color-primary);
  --color-alternate-button: var(--color-tertiary);

  --change-password-btn-bg: var(--color-primary);
  --change-password-btn-color: var(--color-text-dark);

  --border-radius: 30px;
}

$label_error: #d55353;
$field_background_disabled: #f1f1f1;
