{% extends 'partials/variables.html.twig' %}

{% set module = page.header.module %}

{% block render_block %}

<div class="about_features feature-animation">
	<div class="container">
		<div class="about_features-header-section">
			{% if module.subtitle %}
				<h4>
					<span>{{ module.subtitle.translatable }}</span>
				</h4>
			{% endif %}

			{% if module.title %}
				<h3 class="block-title">{{ module.title.translatable }}</h3>
			{% endif %}

			{% if module.description %}
				<p>{{ module.description.translatable }}</p>
			{% endif %}
		</div>

	
		<div class="about_features-container">
			{% for feature_block in page.header.about_feature_blocks %}
				{% if feature_block.description != '' and feature_block.title != '' %}
					{% if module.pattern == 'horizontal' %}
						{% include 'widgets/horizontal-feature.html.twig' with {feature_block: feature_block, module:module } %}
					{% else %}
						{% include 'widgets/vertical-about-feature.html.twig' with {feature_block: feature_block, module:module } %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		
	</div>
</div>
{% endblock %}
