{% extends 'partials/variables.html.twig' %}

{% block render_block %}

	{#  {% cache 'pricing-' ~ grav.language.getActive %} #}
	{# {% set product_pricing = [] %} #}
	{# {% set product_pricing = website_manager_api.getProductPricing %} #}


	{% set product_pricing = {
        "data": {
            "products": [
                {
                    "package_name": "Starter Pack",
                    "pricing_plan": {
                    "subscription_price": 9,
                    "currency": "USD",
                    "subscription_interval_days": 14,
                    "subscription_trial_days": 4,
                    "price": 5.99
                },
                    "all_benefits": [
                    "24/7 Customer Support",
                    "Unlimited Data Usage",
                    
                ],
                    "purchase_url": "https://join.carrerovl.com/en/c/Vlaskie_limited_signup?product_id=PROD61QIG"
                },
                {
                    "package_name": "Starter Pack",
                    "pricing_plan": {
                    "subscription_price": 9,
                    "currency": "USD",
                    "subscription_interval_days": 14,
                    "subscription_trial_days": 4,
                    "price": 5.99
                },
                    "all_benefits": [
                    "24/7 Customer Support",
                    "Unlimited Data Usage",
                    "Access to Premium Features",
                    "Priority Technical Assistance"
                ],
                    "purchase_url": "https://join.carrerovl.com/en/c/Vlaskie_limited_signup?product_id=PROD61QIG"
                },
                {
                    "package_name": "Pro Plus",
                    "pricing_plan": {
                    "subscription_price": 7,
                    "currency": "USD",
                    "subscription_interval_days": 14,
                    "subscription_trial_days": 2,
                    "price": 1.59
                },
                    "all_benefits": [
                    "Standard Customer Support",
                    "Limited Data Usage",
                    "Access to Basic Features",
                    "Technical Assistance"
                ],
                    "purchase_url": "https://join.carrerovl.com/en/c/Vlaskie_limited_signup?product_id=PROD61QIG"
                }
            ]
        }
    } %}


		<div class="pricings" id="modular_pricing"> <div class="container">
			<div class="pricing-header">
				{# {% include 'widgets/badge.html.twig' %} #}
				<h3 class="block-title">{{ page.title|striptags('<span>')|raw  }}</h3>
				{{ page.content|raw }}
			</div>
		</div>

		<div class="container pricings-container">
			{% if config.data.source == 'WSM' %}
				{% include 'partials/product_pricing/pricing_wsm.html.twig' with {products: product_pricing.data } %}
			{% else %}
				{% include 'partials/product_pricing/pricing_crm.html.twig' with {products: product_pricing.data.products } %}
			{% endif %}
		</div>
	</div>
	{#  {% endcache %} #}
{% endblock %}
