{% block whq_card %}
    <div class="whq-card">
        <div class="whq-card-container">
            {#        <p class="whq-card-title">{% block card_title %}{% endblock %}</p> #}
            <div class="form-image">
                {#            768 #}
                {% block card_image %}{% endblock %}
            </div>
            <div class="whq-card-content">
                {% block card_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock whq_card %}