.page-terms {
  background: var(--color-gray);

  //.prose {
  //  padding-top: 60px;
  //  padding-bottom: 60px;
  //  padding-left: 1rem;
  //  padding-right: 1rem;
  //}
}

.content-section.terms {
  color: var(--color-black) !important;
  padding: 2.5rem 2rem !important;

  @include desktop-small {
    padding: 2.5rem 1rem !important;
  }

  .container {
    padding: 0 !important;
  }

  ul, ol {
    margin-left: 20px;
  }

  .terms-area {
    display: none !important;

    &.active {
      display: block !important;
    }
  }

  .language-switcher {
    display: none;
  }

}

.page-terms {
  color: var(--color-black) !important;

  .terms-section, th {
    background: var(--color-white) !important;
    color: var(--color-black) !important;
  }

  .main-container {
    h1, h2, h3, h4, h5, p, li, a, td, th {
      color: var(--color-black) !important;
    }

    h1 {
      font-size: 32px !important;
    }

    tbody {
      tr {
        td {
          background: var(--color-white) !important;
        }
      }
    }
  }
}