.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.80);
  transition: background-color 0.3s, color 0.3s;

  @media (max-width: 1155px){
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);

  }

  &.sticky {
    // background-color: var(--color-secondary);
    // padding: 20px 0;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    // @include desktop-small{
    //   background: transparent;
    //   box-shadow: none;
    // }

    .header-wrapper{
      padding: 0;
      border: none;
      background: transparent;
      border-radius: 0;

    }
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 25px;
    gap: 63px;
    
    @media (max-width: 1200px) {
      gap: 1rem;
    }

    .header-logo {
      // display: flex;
      // align-items: center;

      a {

        img {
          height: auto;
          max-width: 168px;
          display: flex;
          align-items: center;

          @include mobile {
            max-width: 112px;
          }
        }

        .logo-desktop{
          display: block;

          @include desktop-small{
            display: none;
          }
        }
        .logo-mobile{
          display: none;

          @include desktop-small{
            display: block;
          }
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 60px;
      padding: 20px 40px;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.17);
      border: 1px solid rgba(255, 255, 255, 0.36);

      @media (max-width: 1155px) {
        display: none;
      }

      .menu-item {
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;


        .menu-item__link {
          text-decoration: none;
          @include typography(text-lg, medium);
          color: var(--color-text);
          transition: all 0.3s ease-in-out;
          white-space: nowrap;

          &:hover {
            color: var(--color-white);
            background-color: transparent;

          }
        }

        &.active a {
          color: var(--color-text);
          background-color: transparent;
          font-weight: 700;
        }
      }
    }

    .header-buttons {
      display: flex;
      align-items: center;
      gap: 20px;


      .btn {
        transition: 1s all;
        white-space: nowrap;

        svg {
          fill: var(--color-white);
          transition: 2s all;
        }

        @include typography(text-lg, medium);

        @media (max-width: 1155px) {
          display: none;
        }

      }

      .active-btn {
        padding: 0;
        order: 2;
        background: unset;


        &:hover {
          background: unset;
          box-shadow: none;
        }
      }

      .signup {
        border: 1px solid rgba(255, 255, 255, 0.36);
        background: rgba(255, 255, 255, 0.17);
        padding: 12px 20px;
        order: 3;
        display: flex;
        align-items: center;

        @media (max-width: 1155px){
          display: none;
        }

        &:hover {
          //color: var(--header-signup-btn-color);
          //background: var(--color-secondary);
        }
      }

      .lang-mobile-menu{
        display: flex;
        gap: 0;

        @media (max-width: 1155px){
          gap: 16px;
        }

        .language-switcher {
          padding: 0;
          color: var(--color-lang-switcher);
          order: 1;
          gap: 10px;

          @include desktop-small {
            order: 0;
            // margin-right: 16px;
          }

          .lang-flag {
            width: 40px;
            height: auto;
          }

          svg{
            // @include desktop-small{
            //   filter: invert(1);
            // }
          }
        }

        .cheeseburger-menu__close {
          display: none;
          //border-radius: 8px;
          //background: var(--color-primary);
          padding: 8px;
          order: 2;

          span {
            background-image: url(../../images/close.svg);
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: center;
            height: 24px;
            width: 24px;
            // filter: invert(1);
          }

          @include desktop-small {
            // display: block;
          }
        }
      }
    }
  }
}
