{% set body_classes = "page-login" %}
{% extends 'partials/base.html.twig' %}

{% set homepage = grav.pages.find('/') %}
{% set login_content = homepage.header.login %}

{% block article %}
    {# {% include 'partials/no-hero-header.html.twig' with {
        'title': page.header.title,
        'links': [
            {
                'url': '/' ~ grav.language.getActive,
                'title': "METRICALO.HOME"|t
            },
            {
                'title': page.header.title|t

            }
        ]
    } %} #}

    <div class="login-section">
        <div class="container ">
            {% embed "widgets/whq-card.html.twig" %}
                {% block card_title %}
                    {{ "METRICALO.LOGIN"|t }}
                {% endblock %}

                {% block card_image %}
                    <img src="{{ url('theme://images/login-image.webp') }}" alt="Responsive Image">
                {% endblock %}

                {% block card_content %}
                    <h3>{{ login_content.title.translatable | raw }}</h3>
                    <p>{{ login_content.dec.translatable | raw }}</p>
                    {% include 'partials/notifications.html.twig' %}
                    {% include 'partials/messages.html.twig' %}
                    {% include 'partials/login-form.html.twig' with {form: forms('user-login')} %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
