{% set body_classes = "page-unsubscribe" %}
{% extends 'partials/base.html.twig' %}

{% set homepage = grav.pages.find('/') %}
{% set unsub_content = homepage.header.unsub %}

{% block article %}
    {% set module = page.header %}
        {% include 'partials/no-hero-header.html.twig' with {
            'title': "METRICALO.CANCEL_SUBSCRIPTION"|t,
            'links': [
                {
                    'url': '/',
                    'title': "METRICALO.HOME"|t
                },
                {
                    'title': "METRICALO.CANCEL_SUBSCRIPTION"|t
                }
            ]
        } %}

    <div class="unsubscribe-section">
    <div class="container ">
        {% embed "widgets/whq-card.html.twig" %}
            {% block card_title %}
                {{ "METRICALO.ARE_YOU_SURE_CANCELLATION"|t }}
            {% endblock %}

            {% block card_image %}
                <img src="{{ url('theme://images/unsub-image.webp') }}" alt="Responsive Image">
            {% endblock %}

            {% block card_content %}
                <h3>{{ unsub_content.title.translatable | raw }}</h3>
                {% if unsub_content.dec.translatable != '' %}
                    <p>{{ unsub_content.dec.translatable | raw }}</p>
                {% endif %}
                {% include "forms/form.html.twig" with {form: forms('unsubscribe'), action: '#'} %}
{#                <form name="unsubscribe" action="#" method="POST" id="unsubscribe" class=" ">#}


{#                    <div class="form-field   ">#}
{#                        <div class="form-label"><label class="inline">Email                  <span class="required">*</span></label>#}
{#                        </div>#}
{#                        <div class="form-data" data-grav-field="email" data-grav-disabled="" data-grav-default="null">#}
{#                            <div class="form-input-wrapper ">#}
{#                                <input name="data[email]" value="" type="email" class="form-input " required="required">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="form-field   ">#}
{#                        <div class="form-label"><label class="inline">Last 4 digits of your credit card                  <span class="required">*</span></label>#}
{#                        </div>#}
{#                        <div class="form-data" data-grav-field="text" data-grav-disabled="" data-grav-default="null">#}
{#                            <div class="form-input-wrapper ">#}
{#                                <input name="data[last_four]" value="" type="text" class="form-input " required="required" title="Please enter valid Last 4 Digit of your card" pattern="\d{4}">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}


{#                    <input type="hidden" name="__form-name__" value="unsubscribe">#}
{#                    <input type="hidden" name="__unique_form_id__" value="fysyammbkuq9nhudkth3">#}
{#                    <input type="hidden" name="form-nonce" value="637bc38f36d377251577ebe813e02d5f">#}


{#                    <div class="form-actions">#}





{#                        <button type="submit" onclick="return validateForm()" class="button button primary">Cancel subscription</button>#}


{#                    </div>#}

{#                </form>#}
            {% endblock %}
        {% endembed %}
    </div>
    <div>
{% endblock %}