.content-section.cancel-membership {
  position: relative;
  display: flex;
  justify-content: center;

  .cm_forms {
    //position: absolute;
    top: calc(50% - 600px);
    max-width: 600px;
    width: 100%;
    padding: 40px;
    margin: 60px auto;
    border: 1px solid var(--color-light-shade);
    border-radius: 24px;

    @include desktop-small{
      margin: 0 auto;
      padding: 40px 16px;
    }

    .form-label {
      margin-bottom: 6px;
    }

    label {
      color: var(--color-text);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }

    input, textarea {
      //border: 1px solid var(--color-text-light);
      //border-radius: 20px;
      //box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      //background: #F7F5EF;
    }

    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
      transition: background-color 500000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
    }

    input:focus {
      outline: none;
      border-color: #98A2B3;
      box-shadow: none;
    }

    // @include desktop-small {
    //   padding: 40px 16px;
    // }

    .form-actions {
      text-align: center;
      width: 100%;
      margin-top: 2rem;

      button {
        display: block;
        width: fit-content;
        background: var(--color-danger);
        color: var(--color-white);
        border: none;

        @include typography(text-xl, semibold);
        @include desktop-small {
          @include typography(text-md, semibold);
        }
      }
    }

  }

}