.page-change-password{

  .change-password-section{
    background: var(--bg-body);
    padding: 240px 0 100px;
    // position: relative;
    margin: 0;
    // border-radius: 8px 8px 0px 0px;
    @include desktop-small {
      padding: 40px 0 40px 0;
      margin-top: $header-gap-mobile;
    }

    @include whq-card-form(
      $text-color: var(--unsubscribe-text),
      $title-bg: var(--unsubscribe-bg),
      $title-color: var(--unsubscribe-title),
      $card-shadow: none,
      $border-radius: 24px,
      $spacing: 0rem,
      $title_typography: (size: display-xs, weight: semibold),
      $button_typography: (size: text-lg, weight: bold),
      $label_typography: (size: text-md, weight: semibold),
      $input_styles: (),
    );

    .whq-card-content {
      align-items: stretch !important;
      gap: 4px !important;

      .top {
        margin-bottom: 50px;
      }
    }
  }
  .form-actions{
    display: flex;

    justify-content: center;

    .button{
      margin-top: 30px;
      width: fit-content;
      border: none;

      @include desktop-small {
        margin-top: 20px;
      }

    }
    // .button::before {
    //   content: ""; 
    //   display: inline-block;
    //   width: 16px;
    //   height: 16px;
    //   background: url('./../../images/button-icon.svg') no-repeat center center;
    //   background-size: contain;
    
    // }

  }
}
// .page-change-password .change-password-section .whq-card .whq-card-container {
//   border-radius: 2rem;
// }

// .page-change-password .change-password-section .whq-card {
//   margin-top: 0;
//   margin-bottom: 0 !important;
//   padding-bottom: 4rem !important;
// }