.content-section.change-password-form {
  max-width: 600px;
  padding: 100px 2rem;

  @include desktop-small{
    padding: 80px 1rem;
  }

  label {
    display: none;
  }

  input{
    //border-radius: 20px;
    //border: 1px solid #CCC;
    //background-color: #F7F5EF;
  }

  .form-actions {
    text-align: center;

    button {
      //display: flex;
      width: 100%;
      //background: var(--color-primary);
      //color: var(--color-white);
      //font-size: 18px;
      //font-style: normal;
      //font-weight: 700;
      //line-height: normal;
      //border-radius: 12px;
      border: none;
      //margin: 0 auto;
    }
  }
}