<div class="benefits">
	{% for benefit in product.all_benefits %}
		<div class="benefit">
			{# {% if iterationCount == 1 %}
				<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 28 28" fill="none">
					<path d="M14 27.4375C6.57867 27.4375 0.5625 21.4213 0.5625 14C0.5625 6.57867 6.57867 0.5625 14 0.5625C21.4213 0.5625 27.4375 6.57867 27.4375 14C27.4375 21.4213 21.4213 27.4375 14 27.4375Z" fill="#2563EB"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9214 11.0947C20.3879 10.5858 20.3536 9.79505 19.8447 9.32856C19.3358 8.86207 18.545 8.89645 18.0786 9.40535L12.0857 15.943L9.88388 13.7411C9.39573 13.253 8.60427 13.253 8.11612 13.7411C7.62796 14.2293 7.62796 15.0207 8.11612 15.5089L11.2411 18.6339C11.4822 18.875 11.8113 19.0071 12.1522 18.9997C12.493 18.9923 12.8161 18.846 13.0464 18.5947L19.9214 11.0947Z" fill="white"/>
				</svg>
			{% else %}
				<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 28 28" fill="none">
					<path d="M14 27.4375C6.57867 27.4375 0.5625 21.4213 0.5625 14C0.5625 6.57867 6.57867 0.5625 14 0.5625C21.4213 0.5625 27.4375 6.57867 27.4375 14C27.4375 21.4213 21.4213 27.4375 14 27.4375Z" fill="#2563EB"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9214 11.0947C20.3879 10.5858 20.3536 9.79505 19.8447 9.32856C19.3358 8.86207 18.545 8.89645 18.0786 9.40535L12.0857 15.943L9.88388 13.7411C9.39573 13.253 8.60427 13.253 8.11612 13.7411C7.62796 14.2293 7.62796 15.0207 8.11612 15.5089L11.2411 18.6339C11.4822 18.875 11.8113 19.0071 12.1522 18.9997C12.493 18.9923 12.8161 18.846 13.0464 18.5947L19.9214 11.0947Z" fill="white"/>
				</svg>
			{% endif %} #}
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                <path d="M14 27.4375C6.57867 27.4375 0.5625 21.4213 0.5625 14C0.5625 6.57867 6.57867 0.5625 14 0.5625C21.4213 0.5625 27.4375 6.57867 27.4375 14C27.4375 21.4213 21.4213 27.4375 14 27.4375Z" fill="#7F30FF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9214 11.0947C20.3879 10.5858 20.3536 9.79505 19.8447 9.32856C19.3358 8.86207 18.545 8.89645 18.0786 9.40535L12.0857 15.943L9.88388 13.7411C9.39573 13.253 8.60427 13.253 8.11612 13.7411C7.62796 14.2293 7.62796 15.0207 8.11612 15.5089L11.2411 18.6339C11.4822 18.875 11.8113 19.0071 12.1522 18.9997C12.493 18.9923 12.8161 18.846 13.0464 18.5947L19.9214 11.0947Z" fill="white"/>
            </svg>
			<div class="streamline">{{ benefit|markdown(false) }}</div>
		</div>
	{% endfor %}
</div>
