<div class="pricing-group" style="gap:.5rem">
    <div class="pricing-wrap">
        {% include 'partials/product_pricing/widget/_renew_price.html.twig' %}
    </div>
    <div class="pricing-trial">
        {% include 'partials/product_pricing/widget/_billed_days.html.twig' %}
        <div class="billed-section" style="display: flex; gap: .5rem; justify-content: center; align-items: center;">
            {% include 'partials/product_pricing/widget/_trial_days.html.twig' %} |
            {% include 'partials/product_pricing/widget/_trial_price.html.twig' %}
        </div>
    </div>


</div>