<div>
	<a class="pricing-btn button" href="{{ url(product.purchase_url) }}">{{ "METRICALO.SIGNUP"|t }}
		{# <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewbox="0 0 25 24" fill="none">
			<path d="M4.25 12H20.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M14 5.25L20.75 12L14 18.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		</svg> #}
	</a>
</div>
