<div>
    <a class="pricing-btn button" href="{{ url(product.purchase_url) }}">{{ "METRICALO.SIGNUP"|t }}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path d="M16.2071 6.29289C15.8166 5.90237 15.1834 5.90237 14.7929 6.2929C14.4024 6.68342 14.4024 7.31659 14.7929 7.70711L18.0858 11H4.5C3.94772 11 3.5 11.4477 3.5 12C3.5 12.5523 3.94772 13 4.5 13H18.0858L14.7929 16.2929C14.4024 16.6834 14.4024 17.3166 14.7929 17.7071C15.1835 18.0976 15.8166 18.0976 16.2072 17.7071L21.2018 12.7124C21.2202 12.6942 21.238 12.6753 21.255 12.6558C21.3225 12.5781 21.3761 12.4926 21.4158 12.4024C21.4696 12.2801 21.4996 12.145 21.5 12.003V12C21.5 11.9969 21.5 11.9938 21.5 11.9907C21.4988 11.865 21.4745 11.7447 21.431 11.6341C21.3822 11.5098 21.3076 11.3933 21.2071 11.2929L16.2071 6.29289Z" fill="white"/>
        </svg>
    </a>
</div>