.about_us_unique {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background-color: var(--bg-body);
  position: relative;

  @include desktop-small {
    padding: 80px 0 54px;
    gap: 60px;
  }

  .container {
    max-width: 1248px;
    @include padding(padding-lg);

    @include desktop-small {
      @include padding(padding-sm);
    }
  }

  .about_us_unique_header {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
    gap: 48px;

    @include desktop-small {
      flex-direction: column;
      width: 100%;
      gap: 24px;
      align-items: center;
    }

    .block-title {
      max-width: 417px;
      @include typography(display-md, bold);
      font-family: var(--secondary-font);
      color: var(--color-text);

      @include desktop-small {
        text-align: center;
      }
    }

    .description{
      // display: flex;
      // flex-direction: column;
      // align-items: flex-start;
      gap: 22px;
      max-width: 592px;
      width: 100%;

      .about_us_unique_description {
        p {
          max-width: 592px;
          color: var(--color-text);
          @include typography(text-lg, regular);

          @include desktop-small{
            text-align: center;
          }
        }
      }

      // .about_us_unique_buttons {
      //   display: flex;
      //   gap: 14px;
      //   justify-content: flex-start;

      //   @include desktop-small {
      //     gap: 14px;
      //     flex-direction: column;
      //     width: 100%;
      //   }

      //   .button{
          
      //     align-self: flex-start;
      //     display: flex;


  
      //     // svg {
      //     //   path {
      //     //     stroke: var(--color-white);
      //     //   }
      //     // }
  
      //     &:nth-child(2){
      //       background: var(--color-secondary);
      //       border: 1px solid var(--color-white);
      //     }
      //   }

      // }


    }

    
  }

  .about_us_unique_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1.125rem;
    width: 100%;
    img {
      border-radius: 24px;
    }

    @include desktop-small {
      flex-direction: column;
      align-items: center;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 18px;
      max-width: 708px;
      width: 100%;

      @include desktop-small {
        max-width: 100%;
        gap: 20px;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 20px;
        border-radius: 24px;
        max-width: 224px;
        width: 100%;
        color: var(--color-text);
        @include desktop-small {
          padding: 30px;
          gap: 100px;
          max-width: 343px;
        }

        p {
          @include typography (text-xl, regular);
        }
        h1 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px;
        }
      }

      .top {
        display: flex;
        gap: 18px;

        @include desktop-small {
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }
        .content {
          background-color: var(--color-primary);
        }
        .top_image {
          max-width: 466px;
          display: flex;
          img {
            width: 100%;
            min-height: 231px;
            height: 100%;
            // @include desktop-small {
            //   min-height: 231px;
            // }
          }
        }



      }
      .bottom {
        display: flex;
        gap: 18px;
        @include desktop-small {
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }

        .content { 
          background-color: var(--color-secondary);
        }

        .bottom_image {
          max-width: 224px;
          display: flex;

          @include desktop-small {
            max-width: 343px;
            width: 100%;
          }

          img {
            width: 100%;
            object-fit: cover;

            @include mobile{
              height: 191px;
            }
          }
        }

      }
    }

    .right {
      max-width: 490px;
      display: flex;

      @include tablet{
        width: 100%;
      }

      img {
        width: 100%;

        @include tablet{
          height: 231px;
        }
      }
    }


  }

}
