#cookie-modal {
  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  background-color: #000000d4;
  color: white;
  padding: 25px;
  // animation: slideUp 1s forwards;
  // animation-delay: 1s;
  transition: bottom 0.5s ease;
  .content{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cookie-title{
        @include typography(display-xs,bold)
      }

      .cookie-text {

        a {
          color: #18CB18;
          text-decoration: none;
          font-weight: bold;
        }
      }
  }
  @include desktop-small{
    .content{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  }
  #cookie-button {
      background-color: #18CB18;
      padding: 5px 10px;
      height: fit-content;
      cursor: pointer;
      white-space: nowrap;
  }
}
@keyframes slideUp {
  from {
    bottom: -360px;
  }
  to {
    bottom: -1px;
  }
}
@keyframes slideDown {
from {
  bottom: -1px;
}
to {
  bottom: -360px;
}
}
.hide-cookie {
  bottom: -1px;
  animation: slideDown 1s forwards;
  animation-delay: 0s;
}
.show-cookie {
  bottom: -360px;
  animation: slideUp 1s forwards;
  animation-delay: 1s;
}
