.feature-section {
  padding: 80px 0;
  background: var(--bg-body);
  position: relative;

  // @include desktop-small {
  //   padding: 100px 0;
  // }

  .feature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .features-header-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1.5rem;
      width: 70%;

      @include desktop-small {
        width: 100%;
      }

      .title {
        @include typography("display-lg", "bold");

        @include desktop-small {
          @include typography("display-sm", "semibold");
        }
      }

      .description {
        p {
          @include typography("text-xl", "regular");
        }
      }
    }

    .features-wrapper {
      display: flex;
      align-items: center;
      gap: 30px;

      @include desktop-small {
        flex-direction: column;
        gap: 20px;
      }

      .features-img {
        max-width: 340px;
        width: 100%;

        @include desktop-small{
          display: none;
        }

        img {
          width: 100%;
        }
      }

      .features-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        // @include desktop-small {
        //   gap: 20px;
        // }

        .feature-item {
          transition: 1s ease-in-out;
          display: flex;
          flex-direction: column;
          gap: 14px;
          padding: 20px;
          color: var(--color-white);
          border: 1px solid var(--color-secondary);
          border-radius: 20px;

          background-image: url("../../images/fe_card_bg.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;

          .feature-image {
            width: 36px;
            height: 36px;
            img {
              @include desktop-xl {
                width: 100%;
              }
            }
          }

          .feature-title {
            @include typography("display-sm", "bold");
            font-family: var(--secondary-font);
            // color: var(--color-text-dark);
            height: auto !important;
          }

          .feature-description {
            @include typography("text-lg", "regular");
            // color: var(--color-text-light);
          }
        }
      }
    }
  }
}
