.feature-section {
  padding: 42px 0 114px;
  background: var(--color-secondary);
  position: relative;

  @include desktop-small {
    padding: 100px 0;
  }

  .feature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .features-header-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1.5rem;
      width: 70%;

      @include desktop-small {
        width: 100%;
      }

      .title {
        @include typography("display-lg", "bold");

        @include desktop-small {
          @include typography("display-sm", "semibold");
        }
      }

      .description {
        p {
          @include typography("text-xl", "regular");
        }
      }
    }

    .features-wrapper {
      display: flex;
      align-items: center;
      gap: 30px;

      @include desktop-small {
        flex-direction: column;
      }

      .features-img {
        max-width: 340px;
        width: 100%;

        img {
          width: 100%;
        }
      }

      .features-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include desktop-small {
          gap: 20px;
        }

        .feature-item {
          transition: 1s ease-in-out;
          display: flex;
          flex-direction: column;
          gap: 14px;
          padding: 20px;
          background: var(--color-white);
          border-radius: 20px;

          .feature-image {
            width: 36px;
            height: 36px;
            img {
              @include desktop-xl {
                width: 100%;
              }
            }
          }

          .feature-title {
            @include typography("display-sm", "semibold");
            font-family: var(--secondary-font);
            color: var(--color-text-dark);
            height: auto !important;
          }

          .feature-description {
            @include typography("text-lg", "regular");
            color: var(--color-text-light);
          }
        }
      }
    }
  }
}
